@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&display=swap');
