enfugue-application {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

enfugue-application > enfugue-node-editor {
    position: absolute;
    left: 0;
    top: 96px;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

enfugue-application > enfugue-node-editor.image-editor {
    left: 250px;
    right: 250px;
    bottom: 80px;
    z-index: 3;
}

enfugue-application > enfugue-node-editor.windows {
    z-index: 5;
    top: 35px;
}

enfugue-menu {
    display: flex;
    flex-flow:   row nowrap;
    align-items: stretch;
    background-color: var(--dark-color);
    position: absolute;
    height: 35px;
    line-height: 35px;
    left: 0;
    top: 0;
    right: 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    z-index: 6;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
}

enfugue-menu-category {
    width: 80px;
    font-weight: 100;
    background-color: transparent;
    cursor: pointer;
    border-right: 1px solid rgba(0,0,0,0.2);
}

enfugue-menu.highlight enfugue-menu-category,
enfugue-menu-category:hover {
    background-color: rgba(255,255,255,0.1);
}


enfugue-menu.highlight enfugue-menu-category span.shortcut {
    text-decoration: underline;
    color: var(--theme-color-primary);
}

enfugue-menu > enfugue-menu-category:not(:first-of-type) {
    border-left: 1px solid rgba(255,255,255,0.1);
}

enfugue-menu-category-header {
    font-family: var(--monospace-font), monospace;
    padding: 0 5px;
    font-size: 13px;
}

enfugue-menu-item {
    font-family: var(--monospace-font), monospace;
    padding: 0 5px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    font-size: 13px;
    line-height: 1em;
    height: 35px;
    color: var(--theme-color-tertiary);
    background-color: var(--dark-color);
    cursor: pointer;
    font-weight: 200;
    width: 200px;
    margin-left: -1px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
}

enfugue-menu-category:not(.active) > enfugue-menu-item {
    display: none;
}

enfugue-menu-item:hover {
    color: var(--lightest-color);
}

enfugue-menu-item.active {
    border-bottom-color: var(--theme-color-tertiary);
}

enfugue-menu-item i {
    font-size: 18px;
}

enfugue-sidebar {
    position: absolute;
    left: 0;
    top: 35px;
    bottom: 30px;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    background-color: var(--dark-color);
    flex-grow: 0;
    flex-shrink: 0;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    width: 250px;
    overflow-y: auto;
    direction: rtl;
}

enfugue-sidebar * {
    direction: ltr !important;
}

enfugue-sidebar::-webkit-scrollbar {
    background: var(--dark-color);
}

enfugue-sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.55);
}

enfugue-sidebar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.7);
}

enfugue-sidebar::before {
    position: absolute;
    left: 10px;
    top: -2px;
    content: "GLOBAL";
    color: var(--theme-color-secondary);
    font-family: var(--monospace-font);
    font-size: 12px;
}

enfugue-logs-view > input {
    float: right;
    margin-right: 1em;
    margin-top: 1em;
}

enfugue-log-glance-view {
    flex-shrink: 0;
    display: block;
    overflow: hidden;
    background-color: var(--darker-color);
    border: 1px solid var(--darkest-color);
    border-radius: 4px;
    padding: 0.75em;
    margin: 1em 1em 0 1em;
    margin-top: auto;
}

enfugue-log-glance-view .log-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
}

enfugue-log-glance-view .log-header h2,
enfugue-log-glance-view .log-header a {
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

enfugue-log-glance-view .log-header h2 {
    text-transform: uppercase;
}

enfugue-log-glance-view .log-header a {
    pointer-events: auto;
}

enfugue-log-glance-view .logs {
    white-space: pre-wrap;
    font-size: 11px;
    font-family: var(--monospace-font);
    height: 100px;
    margin-top: 5px;
    overflow: hidden;
}

enfugue-sidebar input.invoke {
    margin: 1em;
}

enfugue-sidebar .invoke-loader {
    margin-top: -6px;
    margin-bottom: 6px;
    margin-left: 4px;
    margin-right: 4px;
    pointer-events: none;
}

.no-animations enfugue-sidebar .invoke-loader::after {
    margin-top: -8px;
}

.no-animations enfugue-sidebar .invoke-loader.loading::after {
    content: "PROCESSING";
}

enfugue-toolbar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 2px;
    padding: 0;
}

enfugue-toolbar-item {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

enfugue-toolbar-item > span {
    display: none;
}

enfugue-toolbar-item > i {
    font-size: 15px;
}

enfugue-toolbar-item::after {
    content: "\A";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0);
}

enfugue-toolbar-item:not(.disabled):not(:disabled):hover::after {
    background-color: rgba(255,255,255,0.1);
}

enfugue-tabbed-view {
    display: block;
}

enfugue-tabs {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: stretch;
}

enfugue-tabs enfugue-tab {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 0.75em;
    color: var(--theme-color-secondary);
    font-family: var(--header-font);
    background-color: transparent;
    font-weight: 300;
    font-size: 15px;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
    flex-grow: 0;
    transition: all 0.25s ease-in-out;
}

enfugue-tabs enfugue-tab.active {
    flex-grow: 1;
    font-weight: bold;
    background-color: var(--theme-color-secondary);
    color: var(--lightest-color);
}

enfugue-tab-content {
    display: block;
    border-top: 3px solid var(--theme-color-secondary);
}

enfugue-sidebar-category-header,
enfugue-sidebar-item {
    color: var(--theme-color-secondary);
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    height: 45px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

enfugue-sidebar-item::before,
enfugue-sidebar-category-header::before {
    content: '\A';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    background-color: black;
}

enfugue-sidebar-item:hover::before,
enfugue-sidebar-category-header:hover::before {
    opacity: 0.1;
}

enfugue-sidebar-category-header::after {
    content: '\f054';
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    flex-grow: 1;
    text-align: right;
}

enfugue-sidebar-category.active > enfugue-sidebar-category-header::after {
    content: '\f078';
}

enfugue-sidebar-category-header enfugue-sidebar-category-button {
    opacity: 0.75;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.25s ease-in-out;
}

enfugue-sidebar-category-header enfugue-sidebar-category-button:hover {
    opacity: 1;
}

enfugue-sidebar-item {
    flex-direction: row-reverse;
    background-color: var(--theme-color-primary);
}

enfugue-sidebar-item.loading-bar::after,
enfugue-menu-item.loading-bar::after {
    bottom: 3px;
    margin-left: -5px;
    height: 5px;
    margin-right: -5px;
}

enfugue-sidebar-item.disabled {
    background-color: #aaa;
}

enfugue-sidebar-item i {
    flex-grow: 1;
    text-align: right;
    font-size: 18px;
}

enfugue-sidebar > form:last-of-type {
    margin-bottom: 1em;
}

enfugue-notification-center {
    position: fixed;
    right: 0;
    top: 0;
    left: 66%;
    bottom: 0;
    pointer-events: none;
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-start;
    z-index: 6;
}

enfugue-notification {
    position: relative;
    margin: 1em;
    padding: 1em;
    background-color:rgba(0,0,0,0.4);
    backdrop-filter: blur(10px);
    border: 1px solid var(--darker-color);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    color: var(--light-color);
    pointer-events: auto;
    height: 150px;
    transition: all 0.5s ease-in-out;
    display: flex;
    flex-flow: column nowrap;
}

enfugue-notification i {
    position: absolute;
    right: 1em;
    top: 11px;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.25s ease-in-out;
}

enfugue-notification i:hover {
    opacity: 1;
}

enfugue-notification p {
    overflow-y: auto;
    flex-basis: 100%;
    font-size: 13px;
}

enfugue-notification.hiding {
    opacity: 0;
    height: 0;
    padding: 0 1em;
    margin: 0 1em;
}

enfugue-notification.hiding,
enfugue-notification.hiding p {
    overflow: hidden;
}

enfugue-notification h2 {
    text-transform: uppercase;
    color: var(--lightest-color);
    font-size: 24px;
    border-bottom: 1px solid var(--lightest-color);
    margin-bottom: 0.5em;
    font-weight: bold;
}

enfugue-notification:not(:last-child) {
    margin-top: 0;
}

enfugue-notification.info h2 {
    color: rgba(92, 184, 92, 0.75);
    border-color: rgba(92, 184, 92, 0.9);
}

enfugue-notification.warn h2 {
    color: rgba(240, 173, 78, 0.75);
    border-color: rgba(240, 173, 78, 0.9);
}

enfugue-notification.error h2 {
    color: rgba(217, 83, 79, 0.75);
    border-color: rgba(217, 83, 79, 0.9);
}

enfugue-search-list,
enfugue-color-input,
enfugue-repeatable-input {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    gap: 5px;
    outline: none;
    border-radius: 3px;
    background-color: var(--darker-color);
}

enfugue-color-input {
    flex-flow: row nowrap;
}

enfugue-search-list > enfugue-search-list-selection {
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 5px 10px 5px 5px;
    background-color: var(--theme-color-primary);
    color: var(--lightest-color);
    border-radius: 2px;
    font-size: 12px;
    transition: border-color 0.1s ease-in-out, opacity 0.25s ease-in-out;
    opacity: 1;
}

enfugue-search-list > enfugue-search-list-selection span {
    font-weight: bold;
}

enfugue-search-list > enfugue-search-list-selection.dragged {
    opacity: 0.5;
}

enfugue-search-list > enfugue-search-list-selection.drop-left {
    border-left: 3px solid var(--dark-color);
}

enfugue-search-list > enfugue-search-list-selection.drop-right {
    border-right: 3px solid var(--dark-color);
}

enfugue-search-list > enfugue-search-list-selection > button {
    padding: 0;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    line-height: 0;
    border-radius: 20px;
    background-color: var(--lightest-color);
    color: var(--theme-color-primary);
    border-width: 0;
}

enfugue-search-list
    > enfugue-search-list-selection
    > button:not(:disabled):not(.disabled):hover {
    background-color: var(--theme-color-primary);
    color: var(--lightest-color);
}

enfugue-search-list > input,
enfugue-color-input > input {
    border: none;
    padding: 5px;
    flex-grow: 1;
    margin: 0;
}

enfugue-color-input > .inline-color-preview {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid black;
}

enfugue-repeatable-input .empty-placeholder {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 11px;
    opacity: 0.75;
    font-style: italic;
}

enfugue-repeatable-input.no-children .empty-placeholder {
    display: block;
}

ul.enfugue-search-list-items,
enfugue-color-input-helper-view {
    border: 1px solid var(--darkest-color);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    max-height: 400px;
    min-height: 40px;
    background-color: var(--darker-color);
    position: fixed;
    z-index: 10;
    max-height: 250px;
    overflow-y: auto;
    color: var(--light-color);
}

enfugue-color-input-helper-view .preview-input-container {
    padding: 5px;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: stretch;
    gap: 5px;
}

enfugue-color-input-helper-view .preview-input-container .preview {
    flex-basis: 25%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    text-transform: uppercase;
    font-weight: bold;
}

enfugue-color-input-helper-view .preview-input-container .input-container {
    flex-basis: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

enfugue-color-input-helper-view .preview-input-container .preview,
enfugue-color-input-helper-view
    .preview-input-container
    .input-container
    .input-part {
    border: 1px solid #ccc;
    border-radius: 3px;
}

enfugue-color-input-helper-view
    .preview-input-container
    .input-container
    .input-part {
    height: 30px;
    width: 100%;
    cursor: pointer;
    position: relative;
}

enfugue-color-input-helper-view
    .preview-input-container
    .input-container
    .input-part
    .indicator {
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: 0;
    width: 10px;
    border: 1px solid #ccc;
    pointer-events: none;
    margin-left: -5px;
}

ul.enfugue-search-list-items > li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em;
    font-size: 11px;
    position: relative;
    background-color: var(--darker-color);
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

ul.enfugue-search-list-items > li:hover {
    background-color: var(--darkest-color);
}

ul.enfugue-search-list-items > li:not(:last-child) {
    border-bottom: 1px solid var(--darkest-color);
}

ul.enfugue-multi-search-list-items > li::before {
    content: '\A';
    border-radius: 2px;
    border: 1px solid #ccc;
    height: 14px;
    width: 14px;
    vertical-align: middle;
    padding: 0;
    margin-right: 4px;
    display: block;
    text-align: center;
    font-weight: bold;
    color: var(--theme-color-tertiary);
}

ul.enfugue-multi-search-list-items > li.selected::before {
    content: '✓';
    border-color: var(--theme-color-tertiary);
}

enfugue-repeatable-input input.add-item {
    flex-grow: 0;
    font-size: 12px;
}

enfugue-repeatable-input enfugue-repeatable-input-item {
    display: block;
    position: relative;
    width: 100%;
}

enfugue-repeatable-input enfugue-repeatable-input-item input.remove-item {
    position: absolute;
    top: -2px;
    right: -2px;
    padding: 0;
    margin: 0;
    line-height: 0;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    text-align: center;
}

enfugue-repeatable-input enfugue-repeatable-input-item input.remove-item.disabled {
    opacity: 0.33;
}

enfugue-repeatable-input.columns {
    flex-flow: column nowrap;
    align-items: stretch;
}

enfugue-repeatable-input.columns enfugue-repeatable-input-item {
    margin-bottom: 5px;
}

enfugue-repeatable-input enfugue-repeatable-input-item form::after {
    display: none !important;
}

enfugue-repeatable-input enfugue-repeatable-input-item form.inset-form {
    padding: 10px;
}

enfugue-repeatable-input enfugue-repeatable-input-item orm.inset-form fieldset:not(:last-child) {
    margin-bottom: 10px;
}

enfugue-repeatable-input
    enfugue-repeatable-input-item
    > form.inset-form
    fieldset
    .field-container:not(:last-child) {
    margin-bottom: 5px;
}

enfugue-repeatable-input enfugue-repeatable-input-item > form {
    margin: 0;
    padding: 5px;
    gap: 5px;
}

enfugue-repeatable-input.columns input.add-item {
    width: calc(100% - 5px);
}

enfugue-repeatable-input.columns input.remove-item {
    background-color: black;
    border-color: black;
}

enfugue-repeatable-input.columns
    input.remove-item:not(:disabled):not(.disabled):hover {
    color: black;
}

enfugue-slider-precise-input-view {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: stretch;
    gap: 2px;
}

enfugue-slider-precise-input-view input[type='number'] {
    flex-basis: 100px;
    flex-grow: 0;
}

enfugue-prompt-input-view {
    position: relative;
    display: grid;
    grid-template-columns: 100% 0;
    grid-template-rows: 18px auto;
}

enfugue-prompt-input-view.show-secondary {
    grid-template-columns: auto auto;
}

enfugue-prompt-input-view input[type='button'] {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 3px;
    top: 0px;
    right: 0px;
    font-weight: 500;
    font-size: 10px;
    padding: 0px 4px;
    width: auto;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-width: 1px;
    border-bottom: none;
    border-color: black;
    background-color: var(--darker-color);
}

enfugue-prompt-input-view.show-secondary input[type='button'].add-secondary-prompt {
    display: none;
}

enfugue-prompt-input-view input[type='button']:not(:disabled):not(.disabled):hover {
    color: black;
}

enfugue-prompt-input-view:not(.show-secondary) input[type='button'].remove-secondary-prompt {
    display: none;
}

enfugue-prompt-input-view textarea {
    grid-row: 2;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

enfugue-prompt-input-view.show-secondary textarea.primary-prompt {
    border-bottom-right-radius: 0;
}

enfugue-prompt-input-view textarea.secondary-prompt {
    border-bottom-left-radius: 0;
    border-left: none;
}

enfugue-prompt-input-view:not(.show-secondary) textarea.secondary-prompt {
    display: none;
}

enfugue-vae-input-view {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: stretch;
    gap: 5px;
}

enfugue-model-picker {
    position: fixed;
    left: 250px;
    right: 250px;
    top: 60px;
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--dark-color);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

enfugue-model-picker button {
    margin: 10px 10px 10px 0;
    font-size: 11px;
    border-radius: 3px;
    padding: 5px 10px;
}

enfugue-model-picker::after {
    content: "MODEL";
    position: absolute;
    left: 10px;
    top: -2px;
    font-size: 12px;
    color: var(--theme-color-secondary);
    font-family: var(--monospace-font);
}

form.model-picker {
    z-index: 3;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 10px;
}

.no-animations form.model-picker::after {
    display: none;
}

form.model-picker fieldset {
    width: 100%;
}

form.model-picker fieldset legend {
    display: none;
}

form.model-picker div#tensorrt {
    position: relative;
    height: 22px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    margin-left: -64px;
}

form.model-picker div#tensorrt img {
    height: 22px;
    filter: grayscale(100%);
}

form.model-picker div#tensorrt:hover img {
    filter: grayscale(75%);
}

form.model-picker div#tensorrt.ready img {
    filter: grayscale(0%);
}

form.model-picker div#tensorrt span.fraction {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    top: 0;
    right: 12.1px;
    font-size: 10px;
    text-align: center;
    color: black;
}

form.model-picker div#tensorrt span.fraction::after {
    content: "\A";
    position: absolute;
    left: 5px;
    top: 10px;
    width: 10px;
    height: 1px;
    background-color: black;
    transform: rotate(-62deg);
}

form.model-picker div#tensorrt span.fraction > span:first-child {
    position: absolute;
    top: 2px;
    left: 3px;
    display: block;
}

form.model-picker div#tensorrt span.fraction > span:last-child {
    position: absolute;
    right: 3px;
    bottom: 1px;
    display: block;
}

form.model-picker enfugue-search-list {
    margin: 0;
}

ul.model-picker-list-input-view,
ul.enfugue-search-list-items {
    gap: 0;
}

ul.model-picker-list-input-view > li,
ul.enfugue-search-list-items > li {
    border: none;
    border-radius: 0 !important;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    padding: 8px;
    color: var(--light-color);
}

ul.model-picker-list-input-view > li > span,
ul.enfugue-search-list-items > li > span {
    color: var(--light-color);
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

ul.model-picker-list-input-view > li > span > *,
ul.enfugue-search-list-items > li > span > * {
    flex-grow: 0;
}

ul.model-picker-list-input-view > li > span > *:last-child,
ul.enfugue-search-list-items > li > span > *:last-child {
    flex-grow: 1;
    text-align: right;
}

.page-buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: stretch;
    margin: 1em;
    width: calc(100% - 2em);
    gap: 5px;
}

.page-buttons > * {
    flex-basis: 100%;
    text-align: center;
}

enfugue-status {
    margin-left: 5px;
    display: flex;
    height: 100%;
    padding: 0 5px 0 5px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-weight: 900;
    font-size: 10px;
    gap: 5px;
    transition: all 0.25s ease-in-out;
    color: var(--light-color);
    text-shadow: 1px 1px 0px rgba(0,0,0,0.8);
}

enfugue-status-version::before {
    content: "VERSION: ";
    font-weight: 200;
}

enfugue-status-uptime::before {
    content: "UPTIME: ";
    font-weight: 200;
}

enfugue-status-gpu-name::before {
    content: "GPU: ";
    font-weight: 200;
}

enfugue-status-gpu-load::before {
    color: var(--light-color);
    content: "LOAD: ";
    font-weight: 200;
}

enfugue-status-gpu-load::after {
    content: "%";
    font-weight: 200;
}

enfugue-status-gpu-temp::before {
    color: var(--light-color);
    content: "TEMP: ";
    font-weight: 200;
}

enfugue-status-gpu-temp::after {
    content: "°C";
    font-weight: 200;
}

enfugue-status-gpu-memory::before {
    content: "MEM: ";
    font-weight: 200;
}

enfugue-status-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    border: 1px solid var(--darkest-color);
    background-color: var(--dark-color);
}

enfugue-status-gpu-memory {
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid var(--dark-color);
}

enfugue-status-icon.idle {
    background-color: #999;
    cursor: not-allowed;
}

enfugue-status-icon.ready {
    background-color: #4bb543;
    cursor: pointer;
}

enfugue-status-icon.error {
    background-color: #FF3333;
    cursor: not-allowed;
}

enfugue-status-icon.busy {
    background-color: #e9d502;
    cursor: pointer;
}

enfugue-downloads {
    display: flex;
    flex-flow: column-reverse nowrap;
    gap: 5px;
    padding: 5px;
}

enfugue-download {
    display: flex;
    flex-flow: column nowrap;
    gap: 2px;
    border: 1px solid var(--darker-color);
    padding: 10px;
    border-radius: 3px;
}

enfugue-download-name {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-family: var(--header-font);
    font-size: 1.5em;
    color: var(--theme-color-secondary);
}

enfugue-download-name button {
    display: block;
    padding: 0;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 0px;
    border-radius: 20px;
    flex-grow: 0;
    flex-shrink: 0;
}

enfugue-download-progress {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 2px;
}

enfugue-download-size, enfugue-download-time {
    display: block;
    font-weight: 300;
}

enfugue-download-time > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

enfugue-download-time > div > span:nth-child(2) {
    color: var(--theme-color-primary);
}

enfugue-download-status {
    position: relative;
    display: block;
    cursor: pointer;
    border-radius: 22px;
    height: 22px;
    width: 22px;
    text-align: center;
    line-height: 22px;
    background-color: rgba(0,0,0,0.6);
    color: var(--lightest-color);
    margin-left: auto;
    margin-right: 8px;
}

enfugue-download-status i {
    opacity: 1.0 !important;
}

enfugue-download-count {
    position: absolute;
    right: -2px;
    top: -2px;
    font-size: 10px;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    border-radius: 12px;
    color: var(--light-color);
    background-color: var(--dark-color);
}

enfugue-download-status.inactive {
    opacity: 0.5;
    background: none !important;
}

enfugue-scribble-view {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: default;
    z-index: 1;
}

enfugue-scribble-view canvas {
    position: relative;
    z-index: -1;
    image-rendering: pixelated;
}

enfugue-model-table-searching {
    display: block;
    text-align: right;
    padding: 1em 1em 0 0;
    margin: 0;
}

enfugue-model-table-searching input {
    margin: 0;
}

enfugue-image-inspector {
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
    cursor: default;
}

enfugue-image-inspector .image-view-container {
    display: block;
    overflow: hidden;
    max-height: 100%;
}

enfugue-image-inspector .up,
enfugue-image-inspector .down,
enfugue-image-inspector .left,
enfugue-image-inspector .right {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    pointer-events: none;
}

enfugue-image-inspector .up.active,
enfugue-image-inspector .down.active,
enfugue-image-inspector .left.active,
enfugue-image-inspector .right.active {
    opacity: 0.5;
    font-size: 40px;
}

enfugue-image-inspector .up {
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-image: linear-gradient(to top, transparent, black);
}

enfugue-image-inspector .down {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-image: linear-gradient(to bottom, transparent, black);
}

enfugue-image-inspector .left {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    background-image: linear-gradient(to left, transparent, black);
}

enfugue-image-inspector .right {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    background-image: linear-gradient(to right, transparent, black);
}

enfugue-image-details {
    font-family: var(--monospace-font), monospace;
    position: absolute;
    top: 107px;
    right: 5px;
    text-align: right;
    color: black;
    text-shadow: 1px 1px 0px white;
    font-size: 10px;
}

enfugue-image-browser {
    height: 100px;
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}

enfugue-image-browser:hover {
    opacity: 1.0;
}

enfugue-image-browser img {
    height: 100%;
    pointer-events: none;
}

enfugue-image-browser span {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    border: 1px solid white;
    box-shadow: inset 0px 0px 1px black;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    pointer-events: none;
}

.field-container.checkpoint-input-view,
.field-container.multi-lora-input-view,
.field-container.multi-lycoris-input-view,
.field-container.multi-inversion-input-view,
.field-container.upscale-methods-input-view,
.field-container.upscale-diffusion-pipeline-input-view,
.field-container.upscale-diffusion-prompt-input-view,
.field-container.upscale-diffusion-negative-prompt-input-view,
.field-container.upscale-diffusion-guidance-scale-input-view,
.field-container.upscale-diffusion-steps-input-view,
.field-container.noise-offset-input-view,
.field-container.scheduler-input-view,
.field-container.multi-diffusion-scheduler-input-view,
.field-container.prompt-input-view,
fieldset.field-set-refining-defaults .slider-precise-input-view,
fieldset.field-set-prompts .field-container,
fieldset.field-set-secondary-prompts .field-container,
fieldset.field-set-directories .field-container,
fieldset.field-set-engine .field-container,
fieldset.field-set-diffusion .field-container,
fieldset.field-set-image-roles .field-container,
fieldset.field-set-inpainting .field-container,
fieldset.field-set-image-prompt .field-container,
fieldset.field-set-filters .field-container.string-input-view-search,
fieldset.field-set-dimensions .field-container.checkbox-input-view-use-tiling,
fieldset.field-set-animation .field-container.checkbox-input-view,
enfugue-layer-options-view .field-container.slider-precise-input-view,
enfugue-sidebar .field-container.slider-precise-input-view,
enfugue-sidebar .field-container.checkbox-input-view
{
    flex-basis: 100%;
}

enfugue-sidebar .field-container.checkbox-input-view-tile-horizontal,
enfugue-sidebar .field-container.checkbox-input-view-tile-vertical,
enfugue-sidebar .field-container.checkbox-input-view-outpaint,
enfugue-sidebar .field-container.checkbox-input-view-inpaint {
    flex-basis: 0;    
}

enfugue-sidebar fieldset.field-set-prompts {
    margin-bottom: 0.5em;
}

fieldset.field-set-engine .refiner-engine-size-input-view,
fieldset.field-set-engine .inpainter-engine-size-input-view,
fieldset.field-set-additional-models .vae-input-view-refiner-vae,
fieldset.field-set-additional-models .vae-input-view-inpainter-vae
{
    display: none;
}

fieldset.field-set-image-prompt .field-container.float-input-view
{
    flex-basis: 100% !important;
}

form fieldset.field-set-image-prompt .field-container.checkbox-input-view-image-prompt-face {
    display: none;
}

form.prompt-plus fieldset.field-set-image-prompt .field-container.checkbox-input-view-image-prompt-face {
    display: flex;
}

fieldset.field-set-control-nets .field-container,
enfugue-node-editor.image-editor enfugue-node form fieldset.field-set-control .field-container
{
    flex-basis: 45%;
}

form.show-refiner fieldset.field-set-engine:not(.collapsed) .refiner-engine-size-input-view,
form.show-refiner fieldset.field-set-additional-models:not(.collapsed) .vae-input-view-refiner-vae,
form.show-inpainter fieldset.field-set-engine:not(.collapsed) .inpainter-engine-size-input-view,
form.show-inpainter fieldset.field-set-additional-models:not(.collapsed) .vae-input-view-inpainter-vae
{
    display: flex;
}

.field-container.multi-lora-input-view legend,
.field-container.multi-lycoris-input-view legend {
    display: none;
}

.field-container.multi-lora-input-view form .field-container,
.field-container.multi-lycoris-input-view form .field-container
{
    flex-basis: 100%;
}

form.no-tiling .field-container.engine-size-input-view,
form.no-tiling .field-container.select-input-view-tiling-stride,
form.no-tiling .field-container.mask-type-input-view-tiling-mask-type
{
    display: none;
}

form.no-inpaint .field-container.checkbox-input-view-crop-inpaint,
form.no-inpaint .field-container.number-input-view-inpaint-feather
{
    display: none;
}

form.no-cropped-inpaint .field-container.number-input-view-inpaint-feather
{
    display: none;
}

form.no-animation .field-container:not(.checkbox-input-view-animation-enabled)
{
    display: none;
}

form.no-animation-tiling .field-container.number-input-view-animation-size,
form.no-animation-tiling .field-container.number-input-view-animation-stride
{
    display: none;
}

form.no-animation-scaling .field-container.number-input-view-animation-motion-scale
{
    display: none;
}

form.no-position-slicing .field-container.number-input-view-animation-position-encoding-truncate-length,
form.no-position-slicing .field-container.number-input-view-animation-position-encoding-scale-length
{
    display: none;
}

form .field-container.checkbox-input-view-invert-control-image {
    display: none;
}

form.no-process .field-container.checkbox-input-view-invert-control-image {
    display: flex;
}

enfugue-sidebar form fieldset.field-set-tweaks .field-container.slider-precise-input-view {
    display: none;
}

enfugue-sidebar form.show-free-u fieldset.field-set-tweaks:not(.collapsed) .field-container.slider-precise-input-view {
    display: flex;
}

enfugue-model-table {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

enfugue-model-table-paging {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 1em 0 1em;
}

enfugue-model-table-paging > span {
    font-size: 12px;
    color: var(--theme-color-tertiary);
}

enfugue-model-table-paging ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
}

enfugue-model-table-paging ul li {
    position: relative;
    color: white;
    background-color: var(--theme-color-tertiary);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    transition: background-color 0.25s ease-in-out;
}

enfugue-model-table-paging ul li.selected {
    background-color: var(--theme-color-secondary);
}

enfugue-model-table-paging ul li span {
    font-family: var(--monospace-font), monospace;
}

enfugue-model-table ul.include-first li:first-child {
    margin-right: 30px;
}

enfugue-model-table ul.include-first li:first-child::after {
    position: absolute;
    content: '…';
    font-size: 16px;
    left: calc(100% + 11px);
    color: var(--theme-color-tertiary);
}

enfugue-model-table ul.include-last li:last-child {
    margin-left: 30px;
}

enfugue-model-table ul.include-last li:last-child::after {
    position: absolute;
    content: '…';
    font-size: 16px;
    right: calc(100% + 11px);
    color: var(--theme-color-tertiary);
}

enfugue-model-table-paging ul li::before {
    content: '\A';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    pointer-events: none;
}

enfugue-model-table-paging ul li:hover::before {
    opacity: 0.1;
}

enfugue-model-table.invocation-history {
    margin-bottom: 5px;
}

enfugue-model-table.invocation-history tr th:nth-child(1),
enfugue-model-table.invocation-history tr td:nth-child(1) {
    width: 150px;
}

enfugue-model-table.invocation-history tr th:nth-child(2),
enfugue-model-table.invocation-history tr td:nth-child(2) {
    width: 80px;
}

enfugue-model-table.invocation-history tr th:nth-child(3),
enfugue-model-table.invocation-history tr td:nth-child(3) {
    width: 150px;
}

enfugue-model-table.invocation-history tr th:nth-child(4),
enfugue-model-table.invocation-history tr td:nth-child(4) {
    width: 200px;
}

enfugue-model-table.invocation-history tr th:nth-child(5),
enfugue-model-table.invocation-history tr td:nth-child(5) {
    width: 150px;
}

div.announcements-view > .view > p,
div.about-view > p {
    margin: 1rem 0 0 1rem;
    line-height: 1.1em;
}

div.announcements-view > .view > h3 {
    text-align: left;
    color: var(--theme-color-tertiary);
    margin: 1rem 0 0 1rem;
}

div.about-view .donate-links {
    margin-top: 1em;
    display: flex;
    padding: 0.5em 1em;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: stretch;
    gap: 1em;
}

div.about-view .donate-links a {
    flex-basis: 100%;
    text-decoration: none;
    display: block;
    padding: 1em;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    color: white;
    font-weight: 900;
    transition: all 0.25s ease-in-out;
}

div.about-view .donate-links a::before {
    content: "\A";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
}

div.about-view .donate-links a.patreon {
    background-color: #EE614A;
    border-color: #EE614A;
}

div.about-view .donate-links a.ko-fi {
    background-color: #29ABE0;
    border-color: #29ABE0;
}

div.about-view .donate-links a.patreon::before {
    background-image: url("../img/brand/patreon.png");
}

div.about-view .donate-links a.ko-fi::before {
    background-image: url("../img/brand/ko-fi.png");
}

div.about-view .donate-links a:hover {
    background-color: transparent;
}

div.about-view .donate-links a.patreon:hover {
    color: #EE614A;
}

div.about-view .donate-links a.ko-fi:hover {
    color: #29ABE0;
}

div.history-view > input {
    float: right;
    margin: 1em 1em 0 0;
}

table.history-table-view tr th:nth-child(1),
table.history-table-view tr td:nth-child(1) {
    width: 150px;
}

table.log-table-view tr th:nth-child(1),
table.log-table-view tr td:nth-child(1) {
    width: 150px;
}

table.log-table-view tr th:nth-child(2),
table.log-table-view tr td:nth-child(2),
table.log-table-view tr th:nth-child(3),
table.log-table-view tr td:nth-child(3) {
    width: 80px;
}

table.installation-directory-summary-table-view tr th:nth-child(1),
table.installation-directory-summary-table-view tr td:nth-child(1) {
    width: 250px;
}

table.installation-directory-table-view tr th:nth-child(2),
table.installation-directory-table-view tr td:nth-child(2) {
    width: 100px;
}

input.new-user-input-view,
input.new-model-input-view,
input.upload-file-input-view {
    float: right;
    margin-right: 1em;
    margin-bottom: 1em;
}

input.upload-file-input-view {
    margin-top: 1em;
}

input.download-input-view {
    margin: 1em;
    width: calc(100% - 2em);
}

.controls-helper-view {
    position: fixed;
    bottom: 135px;
    left: 249px;
    color: var(--theme-color-primary);
    font-weight: bold;
    font-size: 13px;
    z-index: 4;
    cursor: pointer;
    padding-left: 5px;
}

enfugue-layer-options-view {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: flex-start;
    position: fixed;
    width: 250px;
    right: 0px;
    background-color: var(--dark-color);
    top: 60px;
    bottom: 360px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    overflow-x: hidden;
    overflow-y: auto;
}

enfugue-layers-view {
    display: flex;
    flex-flow: column-reverse nowrap;
    justify-content: flex-end;
    position: fixed;
    width: 250px;
    right: 0px;
    background-color: var(--dark-color);
    bottom: 60px;
    height: 300px;
    padding: 28px 10px 0 10px;
    gap: 10px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    overflow-y: auto;
    overflow-x: hidden;
}

enfugue-layer-options-view::after,
enfugue-layers-view::after {
    content: "\A";
    position: absolute;
    top: -2px;
    left: 10px;
    color: var(--theme-color-secondary);
    font-family: var(--monospace-font);
    pointer-events: none;
}

enfugue-layer-options-view::after {
    content: "LAYER OPTIONS";
}

enfugue-layers-view::after {
    content: "LAYERS";
    top: 0;
}

enfugue-layer-view {
    position: relative;
    display: flex;
    border: 1px solid var(--theme-color-tertiary);
    padding: 10px 20px 10px 10px;
    height: 50px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
    gap: 3px;
}

enfugue-layer-view.active {
    border-color: var(--theme-color-primary);
}

enfugue-layer-view.dragging {
    opacity: 0.5;
}

enfugue-layer-view.drag-target-above::before,
enfugue-layer-view.drag-target-below::after {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--theme-color-primary);
    content: "\A";
}

enfugue-layer-view.drag-target-above::before {
    top: -7px;
}

enfugue-layer-view.drag-target-below::after {
    bottom: -7px;
}

enfugue-layer-view div.title {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

enfugue-layer-view span.subtitle {
    font-size: 9px;
}

enfugue-layer-view span.name {
    flex-grow: 1;
    color: var(--theme-color-tertiary);
    font-weight: bold;
    pointer-events: none;
}

enfugue-layer-view.active span.name {
    color: var(--theme-color-primary);
}

enfugue-layer-options-view .placeholder,
enfugue-layers-view .placeholder {
    color: var(--theme-color-tertiary);
    font-size: 10px;
    text-align: left;
}

enfugue-layer-options-view .placeholder {
    padding: 10px;
}

enfugue-layer-view img {
    background-color: var(--darker-color);
    border: 1px solid var(--darkest-color);
    border-radius: 3px;
}

enfugue-layer-view button.close {
    position: absolute;
    right: -1px;
    top: -1px;
    padding: 0 3px;
    margin: 0;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 11px;
    background-color: var(--theme-color-tertiary);
    border-color: var(--theme-color-tertiary);
    color: var(--dark-color);
}

enfugue-layer-view button:not(:disabled):not(.disabled).close:hover {
    color: var(--theme-color-tertiary);
}

enfugue-layer-view.active button.close {
    background-color: var(--theme-color-primary);
    border-color: var(--theme-color-primary);
}

enfugue-layer-view.active button:not(:disabled):not(.disabled).close:hover {
    color: var(--theme-color-primary);
}

enfugue-layers-view enfugue-toolbar {
    position: absolute;
    top: 2px;
    right: 10px;
    left: 50px;
    gap: 4px;
}

enfugue-layers-view::-webkit-scrollbar,
enfugue-layer-options-view::-webkit-scrollbar {
    background: var(--dark-color);
}

enfugue-layers-view::-webkit-scrollbar-thumb,
enfugue-layer-options-view::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.55);
}

enfugue-layers-view::-webkit-scrollbar-thumb:hover,
enfugue-layer-options-view::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0,0,0,0.7);
}

enfugue-toolbar.inpainting::before {
    position: absolute;
    left: 10px;
    top: -2px;
    content: "INPAINTING TOOLS";
    color: var(--theme-color-secondary);
    font-family: var(--monospace-font);
    font-size: 12px;
}

enfugue-toolbar.inpainting {
    position: fixed;
    left: 250px;
    right: 250px;
    top: 121px;
    gap: 0;
    background-color: var(--dark-color);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    z-index: 4;
}

enfugue-toolbar.inpainting enfugue-toolbar-item {
    width: 30px;
    height: 30px;
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.2);
}

enfugue-toolbar.inpainting enfugue-toolbar-item:last-child {
    border-right: none;
}
